* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --white: white;
  --black: rgb(41, 41, 41);
  --black2: rgb(171, 171, 171);
}

body {
  height: 100vh;
  color: var(--black);
}

/* titre de la page */
header {
  font-size: 1rem;
  width: 100%;
  margin: 50px auto;
  text-align: center;
}

/* container des pizzas */
.pizza-container {
  margin: 0 auto;
  width: 80%;
  min-width: 1000px;
}

/* ligne d'une pizza */
.pizza {
  display: flex;
  height: 40px;
  width: 100%;
}
/* partie texte et ligne à gauche */
.pizza-gauche {
  width: 80%;
  display: flex;
  position: relative;
}

.pizza-nom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.pizza-nom span {
  font-weight: 600;
}
/* positionnement des lignes au cas par cas */
.reine::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 350px;
  right: 50px;
  background-color: var(--black2);
  top: 20px;
}
.reine-blanche::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 419px;
  right: 50px;
  background-color: var(--black2);
  top: 20px;
}
.napolitaine::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 404px;
  right: 50px;
  background-color: var(--black2);
  top: 20px;
}
.estoril::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 355px;
  right: 50px;
  background-color: var(--black2);
  top: 20px;
}
.aubergine::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 553px;
  right: 50px;
  background-color: var(--black2);
  top: 20px;
}
.royale::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 477px;
  right: 50px;
  background-color: var(--black2);
  top: 20px;
}
.speciale::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 478px;
  right: 50px;
  background-color: var(--black2);
  top: 20px;
}

/* partie quantité et prix à droite */
.pizza-droite {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr 1fr 1fr 1fr 1fr minmax(
      max-content,
      10px
    );
}

.pizza-prix {
  justify-self: end;
  /* align-self: center;
    justify-items: center;
    display: inline; */
}

button.pizza-prix {
  height: 30px;
  width: 30px;
  border: none;
  background: none;
  color: var(--black);
  font-size: 1rem;
}

.pizza-droite p {
  justify-self: start;
}

.pizza-moins,
.pizza-plus {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  justify-self: center;
}

input {
  width: 25px;
  height: 25px;
  border: var(--black2) 1px solid;
  outline: none;
  text-align: center;
}

input:focus {
  outline: 1px solid var(--black2);
}
.pizza-prix-total {
  justify-self: center;
}

/* Total commande */

.total-commande {
  float: right;
  margin: 50px 120px;
}

/* Bouton reset */
button.reset-btn {
  background: var(--black2);
  padding: 5px;
  float: left;
  margin: 50px 40px;
  border: var(--black) 1px solid;
  outline: none;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

/* Paiement */

.recap-commande {
  background-color: var(--black2);
  margin-bottom: 15px;
  color: var(--black);
  padding: 5px;
  border-radius: 3px;
  border: var(--black) 1px solid;
}

.paiement-conteneur {
  max-width: 400px;
  margin: 100px auto;
  visibility: hidden;
}
